*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
}


:root {
    --spot-black: #000000;
    --spot-dark-soft: #282828;
    --spot-dark-soft: #727479;
    --spot-light: #c1c1c1;
    --spot-white: #ffffff;
    --spot-primary: #141922;
    --spot-success: #adff2f;
}
/* UTILITIES */
.row {
    display: flex;
}
.d-flex{
    display: flex;
}
.align-cnt{
    align-items: center;
}
.flex-direct-column{
    flex-direction: column;
}
.container{
    width: 100%;
    height: calc(100vh - 90px - 85px);
    margin: 15px 15px;
    overflow: auto;
}
.list-unstyled{
    text-decoration: none;
}

/* FINE UTILITIES */

/* left sidebar */

.app{
    /*height: 100vh;*/   
}
.menu {
    width: 250px;
    height: calc(100vh - 90px);
    background-color: red;
    justify-content: space-between;
    overflow-y: auto;

    /* padding: 20px; */
    
}

.logo{
    width: 200px;
    height: 60px;
    background-color:green;
}
.logo-lg {
    width: 75%;
    display: block;
}

.logo-sm {
    display: none;
}

.home{
    width: 200px;
    height: 130px;
    background-color: yellow;
    margin-top: 20px;
}
img.icon-sidebar{
    width: 15%;
}
.playlist>h4{
    margin-bottom:0.5rem;
}
.new-play {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.add-play{
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}
.bnt-new-play{
    margin-bottom:0.5rem;
}
button.bnt-new-play{
    padding:10px 10px;
}


ul.play-list-costum li a {
    display: inline-block;
    margin: 0.25rem 0;
    font-weight: bold;
    text-decoration: none;
}

.playlist{
    width: 200px;
    height: 280px;
    background-color: blue;
    margin-top: 15px;
}
.profile{
    width: 200px;
    height: 70px;
    background-color: aqua;
    margin-top: 165px;
}
#a3a3a3


/* / left sidebar */

.display{
    width: calc(100% - 250px);
    height: calc(100vh - 90px);
    background-color:var(--spot-black);
}


/* top sidebar */
.upgrade{
    width: 100%;
    height: 85px;
    background-color: var(--spot-black);
    position: relative;
    
}
.btn {
    background-color: white;
    width: 150px;
    height: 70px;
    position: absolute;
    right: 40px;
}

/* / top sidebar */

/* main container */
.first-playlist {
    width: 100%;
    height: 400px;
}
.genre {
    width: 700px;
    height: 40px;
    background-color: white;
    
}
.recently-titles {
    width: 250px;
    height: 45px;
    background-color: white;
    margin-top: 10px;
}
.block-recently-played{
    width: 100%;
    margin-top: 10px;
}
.block-recently-played > .col > .card {
    width: 100%;
    height: 230px;
    background-color: blanchedalmond;
}
.block-recently-played > .col {
    width: calc(100% / 6);
    background-color: orangered;
    padding: 8px;
}
.title-created-for{
    width: 300px;
    height: 62px;
    background-color: white;
    margin-top: 30px;
}
.second-playlist{
    width: 100%;
    height: 410px;
}
.block-created-for{
    width: 100%;
    margin-top: 10px;
}
.block-created-for > .col{
    width: calc(100% / 6);
    background-color: gray;
    padding: 10px;
}
.block-created-for > .col > .card {
    width: 100%;
    height: 250px;
    background-color: burlywood;
}

/* main container */

/* footer */
footer{
    width: 100%;
    height: 90px;
    background-color:var(--spot-black)
}



/* fine footer */

/*.hide-sm {
    display: none;
}*/